@import '../tokens/colors.scss';

//borders
.border{ border: 1px solid $color-black-10 }
.border-t{ border-top: 1px solid $color-black-10 }
.border-b{ border-bottom: 1px solid $color-black-10 }
.border-l{ border-left: 1px solid $color-black-10 }
.border-r{ border-right: 1px solid $color-black-10 }
.border-x{ border-left: 1px solid $color-black-10; border-right: 1px solid $color-black-10 }
.border-y{ border-top: 1px solid $color-black-10; border-bottom: 1px solid $color-black-10 }

//substraer
.border-0{ border: 0 }
.border-t-0{ border: 1px solid $color-black-10; border-top: 0 }
.border-b-0{ border: 1px solid $color-black-10; border-bottom: 0 }
.border-l-0{ border: 1px solid $color-black-10; border-left: 0 }
.border-r-0{ border: 1px solid $color-black-10; border-right: 0 }
.border-x-0{ border: 1px solid $color-black-10; border-left: 0; border-right: 0 }
.border-y-0{ border: 1px solid $color-black-10; border-top: 0; border-bottom: 0 }

//border-color
.border-primary{ border-color: $color-primary }
.border-secundary{ border-color: $color-secundary }
.border-danger{ border-color: $color-danger }
.border-warning{ border-color: $color-warning }