//basic colors
$color-primary:#007bff;
$color-secundary: #6c757d;
$color-success:#28a745;
$color-danger:#dc3545;
$color-warning:#ffc107;
$color-info:#17a2b8;

//color gray
$color-black-10: darken( black, 10% );
$color-black-20: darken( black, 20% );
$color-black-30: darken( black, 30% );
$color-black-40: darken( black, 40% );
$color-black-50: darken( black, 50% );
$color-black-60: darken( black, 60% );
$color-black-70: darken( black, 70% );
$color-black-80: darken( black, 80% );
$color-black-90: darken( black, 90% );
