//cols
$grid-width: 100%;
// $grid-width-md: 720px;
// $grid_width-lg: 960px;
// $grid-width-xl: 1140px;

$grid-width-md: 100%;
$grid-width-lg: 100%;
$grid-width-xl: 100%;

//break points
$grid-break-md: 720px;
$grid-break-lg: 960px;
$grid-break-xl: 1140px;

//grid var
$grid-cols: 12;
$grid-medianil: 5px;
$grid-row: 0px;