//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&display=swap');
$typo-font-primary: 'Roboto', sans-serif;

@font-face {
    font-family: 'VisbyCF';
    src: url('../../fonts/VisbyCF-Bold/VisbyCF-Bold.eot');
    src: url('../../fonts/VisbyCF-Bold/VisbyCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/VisbyCF-Bold/VisbyCF-Bold.woff2') format('woff2'),
        url('../../fonts/VisbyCF-Bold/VisbyCF-Bold.woff') format('woff'),
        url('../../fonts/VisbyCF-Bold/VisbyCF-Bold.ttf') format('truetype'),
        url('../../fonts/VisbyCF-Bold/VisbyCF-Bold.svg#VisbyCF-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
$typo-VisbyCF: 'VisbyCF', sans-serif;

@font-face {
    font-family: 'VisbyCFExtra';
    src: url('../../fonts/VisbyCF-ExtraBold/VisbyCF-ExtraBold.eot');
    src: url('../../fonts/VisbyCF-ExtraBold/VisbyCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/VisbyCF-ExtraBold/VisbyCF-ExtraBold.woff2') format('woff2'),
        url('../../fonts/VisbyCF-ExtraBold/VisbyCF-ExtraBold.woff') format('woff'),
        url('../../fonts/VisbyCF-ExtraBold/VisbyCF-ExtraBold.ttf') format('truetype'),
        url('../../fonts/VisbyCF-ExtraBold/VisbyCF-ExtraBold.svg#VisbyCF-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
$typo-VisbyCFExtra: 'VisbyCFExtra', sans-serif;

//typos
$typo-h1: 23px;
$typo-h2: 1.8rem;
$typo-h3: 1.6rem;
$typo-h4: 1.4rem;
$typo-h5: 1.2rem;
$typo-h6: 1rem;
$typo-p: 1rem;
$typo-small: .8rem;

//typo weight
$typo-bold: 700;
$typo-normal: 400;
$typo-light: 300;
$typo-italic: italic;

//typo transform
$typo-lowercase: lowercase;
$typo-uppercase: uppercase;
$typo-capitalize: capitalize;

//typo align
$typo-left: left;
$typo-right: right;
$typo-center: center;
$typo-justify: justify;

//typo decoration
$typo-none: none;